.barra {
    width: 100%;
    height: 5%;
    position: fixed;
    top: 100%;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.evento {
    width: 10%;
    height: 15%;
    position: absolute;
}

.rodape {
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0%;
}

